<!DOCTYPE html>
<html lang="en">
<head>
    <base target="_blank">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <title>{{ instance.title }}</title>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Object.assign"></script>
</head>
<body>
<div class="se-pre-con"></div>
<div id='main'></div>
<script type="text/javascript">
    var configURL = "{% url 'map_json' instance.map_id %}";
    var appConfig = {{ instance.config | safe }};
    var abstract = " {% spaceless %}{{ instance.abstract|title }}{% endspaceless %} ";
    var title = "{{ instance.title }}";
    var PROXY_URL = "";
    var geoserver_url="{{ GEOSERVER_BASE_URL }}";
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{{ STATIC_URL }}cartoview_feature_edit/dist/Viewer.bundle.js"></script>
</body>
</html>
